extends layout

block main
  header
    .container
      .intro-text
        .intro-lead-in Welcome!
        .intro-heading AirNYH와함께
        .intro-heading 새로운 여행을 시작하세요
        a.page-scroll.btn.btn-xl(href="#serch") 숙소 검색하기

  section#serch(style='margin: 0 80px')
    .container
      form(id='search-form', action='/', method='GET')
        .row
          .col-sm-3
            h4.control-label.label-custom(for='city') city
            input.serch-form.input-lg(name='city', id='city', type='text', placeholder='목적지, 도시명, 주소')
          .col-sm-3
            h5.control-label.label-custom(for='datetimepicker6') 체크인
            input#datetimepicker6.form-control(type='text', name='check-in' ,placeholder='체크인') 
          .col-sm-3
            h5.control-label.label-custom(for='datetimepicker7') 체크아웃
            input#datetimepicker7.form-control(type='text', name='check-out' ,placeholder='체크아웃')          
          .col-sm-2
            h4.control-label.label-custom(for='person') 인원
            input.serch-form.input-lg(name='person', id='person', type='text', placeholder='인원')
          .col-sm-1
            button.btn.btn-primary.btn-lg(type='submit' form='search-form') 검색
    
    .row(style='margin: 30px')
      .col-lg-12.text-center
        h2.section-heading 추천 숙소

    .row.clearfix
      each post in posts
        .col-md-4
          .card
            .card-block
              h4.card-title= post.city
              h6.card-subtitle.text-muted= post.title
            img.img-responsive.img-rounded(src='/images/105.jpg', alt='Card image')
            .card-block
              h5.text-muted ₩
                span.text-muted= post.cost
              p.card-text= post.meta.favs
              a.card-link(href='/post/#{post.id}') 상세보기
  
    script(src='/bower_components/agency/js/agency.js')
    link(href='/bower_components/agency/css/agency.css', rel='stylesheet')
    link(href='/stylesheets/search-box.css', rel='stylesheet')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    script(type='text/javascript').
      $(function () {
        $('#datetimepicker6').datetimepicker({
          format: 'YYYY.MM.DD',
          extraFormats: [ 'YY.MM.DD' ]
        });
        $('#datetimepicker7').datetimepicker({
          useCurrent: false,
          format: 'YYYY.MM.DD',
          extraFormats: [ 'YY.MM.DD' ]
        });
        $("#datetimepicker6").on("dp.change", function (e) {
          $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
         $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
      });