extends ../layout

block main
    .show-page
    .container
        //숙소 상세보기
        .col-xs-12.col-md-8
            .row.line-hei-high
                h2= post.title
                h4= post.city
                p.text-muted= post.postcode
                p.p-custom.text-muted= post.address
                p.p-custom-sm.text-muted= post.hostName
                p.p-custom-sm.text-muted= post.hostEmail

                div.border-bottom-custom.line-hei-high
            .row.line-hei-high.center-txt
                i.fa.fa-bed.icon-big.space-txt(aria-hidden='true')
                i.fa.fa-bath.icon-big.space-txt(aria-hidden='true')
                i.fa.fa-users.icon-big.space-txt(aria-hidden='true')
                i.fa.fa-wifi.icon-big(aria-hidden='true')
                div.border-bottom-custom.line-hei-high
            .row.line-hei-high
                h4 숙소 설명
                p.p-custom.line-hei= post.simpleComment
                div.border-bottom-custom.line-hei-high
            .row.line-hei-high
                h4 시설
                p.p-custom.line-hei= post.facilities
                div.border-bottom-custom.line-hei-high
            .row.line-hei-high
                h4 숙소 이용규칙
                p.p-custom.line-hei= post.usingRule
                div.border-bottom-custom.line-hei-high
            .row.line-hei-high
                //이용자 후기
                p.font-size-custom.line-hei 숙소 후기
            //- .row.line-hei-high
            //-     button.btn.btn-primary.custom-button(type='button', data-toggle='collapse', data-target='#demo') 후기쓰기
            //-     #demo.collapse
            //-         .panel
            //-             .panel-heading 로그인한 유저이름
            //-             .panel-body 후기내용
            .row.line-hei-high
                p.font-size-custom2 후기 글쓴이
                p.p-custom.line-hei Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                div.border-bottom-custom.line-hei-high
            .row.line-hei-high

        //예약 사이드바
        .container.col-md-4.line-hei
            #show-side-menu
                .container-fluid
                    .col-md-12.rapping-color
                        label.control-label ₩
                            span= post.cost
                    form(id='reserv-form', action='/post/reservation/#{post._id}', method='POST')
                        .raw
                            .col-md-6.line-hei
                                p.p-custom.control-label.label-custom.text-muted(for='datetimepicker6') 체크인
                                input#datetimepicker6.form-control(type='text', name='checkIn' ,placeholder='년/월/일') 
                            .col-md-6.line-hei
                                p.p-custom.control-label.label-custom.text-muted(for='datetimepicker7') 체크아웃
                                input#datetimepicker7.form-control(type='text', name='checkOut' ,placeholder='년/월/일')
                            .col-md-12.line-hei
                                    p.p-custom.control-label.label-custom.text-muted(for='email') 인원
                            .col-md-12
                                .input-group
                                    input#person.form-control.input-lg.i(type='text', name='person',value='0')
                                    span.input-group-addon.btn.btn-primary#person-minus
                                        i.glyphicon.glyphicon-minus
                                    span.input-group-addon.btn.btn-primary#person-plus
                                        i.glyphicon.glyphicon-plus
                            .col-md-12.line-hei
                                .input-group.line-hei
                                    button.btn.btn-primary.custom-button 예약 요청
                        .col-md-12.line-hei
                            .line-hei
                                a.btn.btn-primary.custom-button(href='/post/#{post.id}/favorite') Favorite
                        .col-md-12.line-hei.center-txt
                            p.p-custom-sm xxx
                                span.text-muted 명의 게스트가 이 숙소를 좋아합니다.



    link(href='/stylesheets/show.css', rel='stylesheet')


    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    //script(src='https://use.fontawesome.com/6695389da8.js')

    script.
        $(document).ready(function(){
            $('#show-side-menu').affix({offset: {top: 240} });
            $('#datetimepicker6').datetimepicker({
                format: 'YYYY.MM.DD',
                extraFormats: [ 'YY.MM.DD' ]
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false,
                format: 'YYYY.MM.DD',
                extraFormats: [ 'YY.MM.DD' ]
            });
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
        
        $('#person-minus').click(function(){
            if(document.getElementById("person").value > 0){
                document.getElementById("person").value--;
            }      
        });
        $('#person-plus').click(function(){
            document.getElementById("person").value++;
        });



